    /*
    Flaticon icon font: Flaticon
    Creation date: 05/04/2020 06:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-heat:before { content: "\f100"; }
.flaticon-lamp:before { content: "\f101"; }
.flaticon-humidity:before { content: "\f102"; }
.flaticon-blockchain:before { content: "\f103"; }
.flaticon-cloud-computing:before { content: "\f104"; }
.flaticon-chart:before { content: "\f105"; }
    
    $font-Flaticon-heat: "\f100";
    $font-Flaticon-lamp: "\f101";
    $font-Flaticon-humidity: "\f102";
    $font-Flaticon-blockchain: "\f103";
    $font-Flaticon-cloud-computing: "\f104";
    $font-Flaticon-chart: "\f105";